<ul class="question-cards">
  <li class="question-card" >
    <div class="question-head">
      <h2><%= @question.title %></h2>
    </div>
    <div class="question-info">
      <div class="question-icons">
        <% if policy(@question).edit? %>
          <%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_question_path(@question) %>
        <% end %>
        <% if policy(@question).destroy? %>
          <%= link_to '<i class="fas fa-trash"></i>'.html_safe, question_path(@question), method: :delete, remote: true, data: { confirm: "Etes-vous sûr de vouloir supprimer cette question ?" } %>
        <% end %>
      </div>
      <h3>
        <strong>Axe : </strong><%= @question.axe.title %><br>
        <strong>Coef : </strong><%= @question.coef %>
      </h3>
    </div>
  </li>
</ul>

<div class="question-grid">

  <ul class="proposition-cards">
    <% @propositions.each do |proposition| %>
      <li class="proposition-card" id=<%= "proposition-#{proposition.id}" %>>
        <div class="proposition-head">
          <h2><%= proposition.title %></h2>
        </div>
        <div class="proposition-info">
          <div class="proposition-icons">
            <% if policy(proposition).edit? %>
              <%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_proposition_path(proposition) %>
            <% end %>
            <% if policy(proposition).destroy? %>
              <%= link_to '<i class="fas fa-trash"></i>'.html_safe, proposition_path(proposition), method: :delete, remote: true, data: { confirm: "Etes-vous sûr de vouloir supprimer cette proposition ?" } %>
            <% end %>
          </div>
          <h3>
            <strong>Axe : </strong><%= proposition.axe.title %><br>
            <strong>Coef : </strong><%= proposition.coef %>
          </h3>
        </div>
      </li>
    <% end %>
  </ul>

  <div class="survey-proposition-form">
    <h3>Ajoutez une proposition</h3>
    <%= render "propositions/form", label: "Ajouter la proposition" %>
  </div>

</div>