<h1>Résultat de "<%= @group_campaign.campaign.title %>"</h1>

<ul class='group-cards'>
  <%= render 'groups/group_card', group: @group %>
</ul>

<div class='results'>
  <div class="member-display">
    <h2>Membres du groupe</h2>
    <% @members.each do |user| %>
      <div class='group_member'>
        <div class='avatar-img'>
          <% if user.photo.attached? %>
            <%= cl_image_tag user.photo.key, alt: "profile pic"%>
          <% else %>
            <%= image_tag 'profile.svg', alt: "profile pic" %>
          <% end %>
        </div>
        <p><%= user.full_name %></p>
      </div>
    <% end %>
  </div>

  <div class='chart-container'>
    <% if @survey_completed %>
      <canvas id="radar-chartjs"
              data-labels="<%= @axes_labels.to_json %>"
              data-scores="<%= @scores.to_json %>" >
      </canvas>
    <% else %>
      <p>Tous les membres n'ont pas encore complété le questionnaire</p>
    <% end %>
  </div>
</div>
