<h1>Résultat de "<%= @group_campaign.campaign.title %>"</h1>

<ul class='group-cards'>
  <%= render 'groups/group_card', group: @group %>
</ul>

<ul>
  <% @group.users.each do |user| %>
    <% unless UserGroup.where(user: user, group: @group).first.role == 'R' %>
    <li>
      <%= user.full_name %>
    </li>
    <% end %>
  <% end %>
</ul>

<ul>
  <% @group_campaign.score_calculation.each do |axe, score| %>
    <li><%= axe.title %>: <%= score %> / 5</li>
  <% end %>
</ul>

<div>
  <canvas id="radar-chartjs" width="400" height="400"
          data-labels="<%= @axes_labels.to_json %>"
          data-scores="<%= @scores.to_json %>" >
  </canvas>
</div>
