<h1>Résultat de "<%= @group_campaign.campaign.title %>"</h1>

<div class='group-cards'>
  <%= render 'groups/group_card', group: @group %>
</div>

<div class='results'>
  <div class="member-display">
    <h2>Membres du groupe</h2>
    <% @members.each do |user| %>
      <div class='group_member'>
        <div class='avatar-img'>
          <% if user.photo.attached? %>
            <%= cl_image_tag user.photo.key, alt: "profile pic"%>
          <% else %>
            <%= image_tag 'profile.svg', alt: "profile pic" %>
          <% end %>
        </div>
        <p class='member-name'>
          <%= user.full_name || user.email %>
          <% case user.completion_rate(@group_campaign) %>
          <% when 100 %>
            <i class="fas fa-check-circle green"></i>
          <% when 0 %>
            <i class="fas fa-times-circle red"></i>
          <% else %>
            <i class="fas fa-exclamation-circle yellow"></i>
          <% end %>
        </p>
      </div>
    <% end %>
  </div>

  <div class='chart-container'>
    <% if @survey_completed %>
      <canvas id="radar-chartjs"
              data-labels="<%= @axes_labels.to_json %>"
              data-scores="<%= @scores.to_json %>" >
      </canvas>
    <% else %>
      <p>Tous les membres n'ont pas encore complété le questionnaire</p>
    <% end %>
  </div>
</div>

<% if @survey_completed %>
  <div class='axes-results'>
    <div class='results'>
      <div class="member-display">
        <% @axes.each do |axe| %>
          <div class='group_member'>
            <%= axe.icon.html_safe %>
            <%= link_to axe_path(axe) do %>
              <p class='member-name <% if axe == @best_axe %> green-label <% elsif axe == @weakest_axe %> red-label <% end %>'><%= axe.title %></p>
            <% end %>
          </div>
        <% end %>
      </div>
      <% @weakest_axe.recommandations.each do |reco| %>
        <div class="recommandations-results">
          <h3><strong>Recommandations pour l'axe <%= @weakest_axe.title %></strong></h3>
          <div class="main-card small-card" id=<%= "reco-#{reco.id}" %> >
            <%= render 'axes/recommandation_card', reco: reco, results: true %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
