<div class="main-card" id=<%= "group-#{group.id}" %> >

  <div class="info">
    <%= render 'groups/group_card_head', group: group %>
    <p><%= group.description %></p>
  </div>

  <div class="right">
    <div class="actions">
      <% if policy(group).edit? %>
        <%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, groups_path(id: group) %>
      <% end %>
      <% if policy(group).destroy? %>
        <%= link_to('<i class="fas fa-trash"></i>'.html_safe, group_path(group), class:'no-scroll-btn',
          method: :delete,
          data: { confirm: "Etes vous sur de vouloir supprimer le groupe #{group.name} ?" },
          remote: true, id: "delete-group-#{group.id}")
        %>
      <% end %>
    </div>
    <div class="right-bottom">
      <p>Du <br>
      <%= l(group.start_date, format: '%d %B %Y', locale: 'fr') %> <br>
      Au <br>
      <%= l(group.end_date, format: '%d %B %Y', locale: 'fr') %></p>
    </div>
  </div>

</div>
