<div class="twi-navbar">
  <% if current_user %>
  <div class="navbar-msg">
    <h2>Bienvenue <%= current_user.first_name %></h2>
  </div>
  <ul class="menu">

    <% if policy(User).index? %>
      <li><%= link_to 'Users', admin_users_path %></li>
    <% end %>

    <% if policy(Group).index? %>
      <li><%= link_to 'Groupes', groups_path %></li>
    <% end %>

    <% if policy(Campaign).index? %>
      <li><%= link_to 'Campagnes', campaigns_path %></li>
    <% end %>

    <% if policy(Survey).index? %>
      <li><%= link_to 'Questionnaires', surveys_path %></li>
    <% end %>

    <% if policy(Axe).index? %>
      <li><%= link_to 'Axes', axes_path %></li>
    <% end %>

    <% if policy(Answer).create? %>
      <li><%= link_to 'Questionnaire', survey_path(@current_campaign.survey) %></li>
    <% end %>

  </ul>

  <div class="actions one-action">
    <%= link_to 'Deconnexion', destroy_user_session_path, method: :delete, class: 'twi-btn grape-btn' %>
  </div>
  <% end %>
</div>
