<div class="twi-navbar">
  <div class="navbar-msg">
  </div>
  <ul class="menu">
  </ul>
  <div class="actions">
    <%= link_to 'Connexion', new_user_session_path, class: 'twi-btn green-btn' %>
    <%= link_to 'Inscription', new_user_registration_path, class: 'twi-btn grape-btn' %>
  </div>
</div>

<div class="twi-container">
  <div class="home-banner">
    <h1>TeamWorkInteract</h1>
    <div class="home-cards">
      <div class="home-card">
        <%= image_tag('metrics.svg') %>
        <h2>Définissez vos axes de suivi</h2>
      </div>
      <div class="home-card">
        <%= image_tag('team.svg') %>
        <h2>Créez vos équipes</h2>
      </div>
      <div class="home-card">
        <%= image_tag('survey.svg') %>
        <h2>Editez vos questions</h2>
      </div>
    </div>
    <div class="home-cta">
      <h2>Suivez et améliorez la cohésion de vos équipes</h2>
      <%= link_to "Découvrez nos outils", new_user_registration_path, class: 'twi-btn cta-btn' %>
    </div>
  </div>
</div>
