<div class="home-pic-banner">
  <%= image_tag "logo.png" %>
  <h1>Team Work Interact</h1>
  <p>Analyser la dynamique de vos équipes</p>
  <%= link_to "Je me lance !", new_user_registration_path, class: 'twi-btn cta-btn main-cta-btn' %>
</div>

<div class="twi-container">
  <div class="home-banner">
    <h1><span id="home-typed-text"></span></h1>
    <div class="home-cards">
      <div class="home-card">
        <%= image_tag('metrics.svg') %>
        <h2>Définissez vos axes de suivi</h2>
      </div>
      <div class="home-card">
        <%= image_tag('team.svg') %>
        <h2>Créez vos équipes</h2>
      </div>
      <div class="home-card">
        <%= image_tag('survey.svg') %>
        <h2>Editez vos questions</h2>
      </div>
    </div>
    <div class="home-cta">
      <%= link_to "Découvrez notre outil", new_user_registration_path, class: 'twi-btn cta-btn' %>
    </div>
  </div>
</div>
