<%= simple_form_for @survey do |f| %>
  <div class="twi-form">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :icon %>
  </div>
  <h4>Questions</h4>
  <div id="questions" class='create-survey-grid'>
    <%= f.simple_fields_for :questions do |question| %>
      <%= render 'question_fields', :f => question %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'ajouter question', f, :questions %>
    </div>
  </div>
  <%= f.submit %>
<% end %>
