<%= simple_form_for @survey do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :icon %>
  <h4>Questions</h4>
  <div id="questions">
    <%= f.simple_fields_for :questions do |question| %>
      <%= render 'question_fields', :f => question %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'ajouter question', f, :questions %>
    </div>
  </div>
  <%= f.submit %>
<% end %>
