<% answer = question.answers.includes(:proposition).where(user: current_user, group_campaign: @group_campaign, propositions: {question: question}) %>
<% @answer = answer.empty? ? Answer.new : answer.first %>

<li class="question-card" id=<%= "question-#{question.id}" %> >
  <%= simple_form_for @answer do |f| %>
    <h5><%= question.title %></h5>
    <div class="radio-btn">
      <%= f.input :proposition_id,
                 as: :radio_buttons,
                 collection: question.propositions,
                 label: '' %>
    </div>
    <% if @current_campaign && @current_campaign.survey == @survey %>
      <%= f.submit "Valider"%>
    <% else %>
      <%= f.submit "Valider", disabled: true%>
    <% end %>
  <% end %>
</li>
