<div class="nested-fields twi-form">
  <p><strong>Question</strong></p>
  <%= link_to_remove_association "supprimer question", f %>
  <%= f.input :title %>
  <%= f.association :axe%>
  <%= f.input :coef %>
  <h5>Propositions</h5>
  <div id="propositions">
    <%= f.simple_fields_for :propositions do |prop| %>
      <%= render 'proposition_fields', :f => prop %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'ajouter proposition', f, :propositions %>
    </div>
  </div>
</div>
