<div class="main-card small-card">
  <%= link_to survey_path(survey) do %>
    <div class="info">
      <div class="survey-head">
        <div class="head">
          <h2><%= survey.title %></h2>
        </div>
      </div>
      <p><%= survey.description %></p>
    </div>
  <% end %>
  <div class="right">
    <div class="actions">
      <% if policy(survey).edit? %>
        <%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_survey_path(survey) %>
      <% end %>
      <% if policy(survey).destroy? %>
        <%= link_to '<i class="fas fa-trash"></i>'.html_safe, survey_path(survey), method: :delete, data: { confirm: "Etes vous sur de vouloir supprimer le questionnaire #{survey.title} ?" } %>
      <% end %>
      <% if policy(survey).duplicate? %>
        <%= link_to '<i class="fas fa-clone"></i>'.html_safe, surveys_path(survey_id: survey.id), method: :post %>
      <% end %>
    </div>
  </div>
</div>
