<h1>Survey Index</h1>
<% @surveys.each do |survey| %>
  <%= survey.title %>
  <%= survey.user.email %>

  <% if policy(survey).edit? %>
    <%= link_to "Edit", edit_survey_path(survey) %>
  <% end %>

  <% if policy(survey).destroy? %>
    <%= link_to "Delete", survey_path(survey), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>

<% end %>

<% if policy(Survey).create? %>
  <%= link_to 'Créer un questionnaire', new_survey_path %>
<% end %>
