<h1>Survey Show</h1>
<%= @survey.title %>
<%= @survey.start_date %>
<%= @survey.end_date %>
<%= @survey.user.email %>

<% if policy(@survey).edit? %>
  <%= link_to "Edit", edit_survey_path(@survey) %>
<% end %>