<ul class="survey-cards">
  <li></li>
  <li class="survey-card">
    <div class="survey-info">
      <div class="survey-head">
        <h2><%= @survey.title %></h2>
        <% if policy(@survey).edit? %>
          <%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_survey_path(@survey) %>
        <% end %>
        <% if policy(@survey).destroy? %>
          <%= link_to '<i class="fas fa-trash"></i>'.html_safe, survey_path(@survey), method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer le questionnaire #{@survey.title} ?" } %>
        <% end %>
      </div>
      <p><%= @survey.description %></p>
    </div>
    <% if @survey.icon %>
      <%= @survey.icon.html_safe %>
    <% end %>
  </li>
  <li></li>
</ul>

<ul class="question-cards">
  <% @questions.each do |question| %>
    <li class="question-card" id=<%= "question-#{question.id}" %>>
      <%= simple_form_for :answer do |f| %>
        <h5><%= question.title %></h5>
        <div class="radio-btn">
          <%= f.input :propositions,
                     as: :radio_buttons,
                     collection: question.propositions,
                     label: '' %>
        </div>
        <%= f.submit "Valider", disabled: true%>
      <% end %>
    </li>
  <% end %>
</ul>

