<ul class="survey-cards">
  <li></li>
  <li class="survey-card">
    <div class="survey-info">
      <div class="survey-head">
        <h2><%= @survey.title %></h2>
        <% if policy(@survey).edit? %>
          <%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_survey_path(@survey) %>
        <% end %>
        <% if policy(@survey).destroy? %>
          <%= link_to '<i class="fas fa-trash"></i>'.html_safe, survey_path(@survey), method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer le questionnaire #{@survey.title} ?" } %>
        <% end %>
      </div>
      <p><%= @survey.description %></p>
    </div>
    <i class="fas fa-poll-h"></i>
  </li>
  <li></li>
</ul>

<ul class="question-cards">
  <% @questions.each do |question| %>
    <% answer = question.answers.includes(:proposition).where(user: current_user, group_campaign: @group_campaign, propositions: {question: question}) %>
    <% @answer = answer.empty? ? Answer.new : answer.first %>
    <li class="question-card" id=<%= "question-#{question.id}" %> >
      <%= simple_form_for @answer do |f| %>
        <h5><%= question.title %></h5>
        <div class="radio-btn">
          <%= f.input :proposition_id,
                     as: :radio_buttons,
                     collection: question.propositions,
                     label: '' %>
        </div>
        <% if @current_campaign && @current_campaign.survey == @survey %>
          <%= f.submit "Valider"%>
        <% else %>
          <%= f.submit "Valider", disabled: true%>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>

