<div class="white-card small-card">
  <div style='position: absolute; top: -120px' id=<%= "axe-#{axe.id}" %>></div>
  <div class="info">
    <%= render 'axe_card_head', axe: axe %>
    <p><%= axe.description %></p>
  </div>
  <div class="right">
    <div class="actions">
      <% if policy(axe).edit? %>
        <%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, axes_path(id: axe) %>
      <% end %>
      <% if policy(axe).destroy? %>
        <%= link_to '<i class="fas fa-trash"></i>'.html_safe, axe_path(axe), method: :delete, data: { confirm: "Etes vous sur de vouloir supprimer l'axe #{axe.title} ?" } %>
      <% end %>
    </div>
    <div class="right-bottom card-icon">
      <% if axe.icon %>
        <%= axe.icon.html_safe %>
      <% end %>
    </div>
  </div>
</div>
