<h1>Mes utilisateurs</h1>

<%= render 'search_bar' %>

<div class="admin-users-grid">
  <div class='user-cards'>
    <% @users.each do |user| %>
      <% chatroom = @chatrooms.find do |chatroom| %>
        <% chatroom.users.include?(user) %>
      <% end %>
      <div class='user-card'>
        <% if user.photo.attached? %>
          <%= cl_image_tag user.photo.key, alt: "profile pic"%>
        <% else %>
          <%= image_tag 'profile.svg', alt: "profile pic" %>
        <% end %>
        <div class="user-infos">
          <% if user.full_name.nil? %>
            <h3><%= user.email %></h3>
            <p class='user-status pending-user'><i class="fas fa-exclamation-circle"></i> Validation en attente</p>
          <% else %>
            <h3><%= user.full_name %></h3>
            <p class='user-status valid-user'><i class="fas fa-check-circle"></i> Invitation acceptée</p>
          <% end %>
        </div>
        <div class="user-groups">
          <h5>Groupes</h5>
          <ul>
            <% user.project_groups.each do |group| %>
              <li>
                <p><strong><%= group.name %></strong> - <%= UserGroup.where(user: user, group: group).first.role == 'R' ? 'Référent' : 'Membre' %></p>
              </li>
            <% end %>
          </ul>
        </div>
        <% if chatroom %><div data-controller="new-messages" data-new-messages-target="card" data-chatroom-id="<%= chatroom.id %>" ><% end %>
            <%= link_to new_chatroom_path(user: user), class: 'chat-btn' do %>
              <i class="fas fa-comment">
                <% if chatroom %>
                  <p data-new-messages-target='count' class="message-notification-admin <% if chatroom.new_message_counter(current_user).zero? %> d-none <% end %>">
                    <%= chatroom.new_message_counter(current_user) %>
                  </p>
                <% end %>
              </i>
            <% end %>
        <% if chatroom %></div><% end %>
      </div>
    <% end %>
  </div>


  <div class="twi-form sticky-form sticky-form-search">
    <%= render "form" %>
  </div>
</div>
