<ul class='group-cards'>
  <% @groups.each do |group| %>
  <% link_class = @current_group == group ? 'group-link' : 'group-link current-group' %>
    <%= link_to access_groups_path(group: group), class: link_class, method: :put, remote: true do %>
      <% ref = group.users.includes(:user_groups).where(user_groups: {role: 'R'}).first %>
      <li class="group-card" id=<%= "group-#{group.id}" %>>
        <div class="group-info">
          <div class="group-head">
            <h2><%= group.name %></h2>
          </div>
          <h3><strong>Référent :</strong> <%= ref ? "#{ref.first_name} #{ref.last_name}" : 'A définir' %></h3>
          <p><%= group.description %></p>
          <p class='group-date'>Du <%= group.start_date %> au <%= group.end_date %></p>
        </div>
        <%= image_tag 'group.svg' %>
      </li>
    <% end %>
  <% end %>
</ul>
