<% referent = group.users.includes(:user_groups).where(user_groups: {role: 'R'}).first %>

<div class="group-info">
  <div class="group-head">
    <h2><%= group.name %></h2>
  </div>
  <h3><strong>Référent :</strong> <%= referent ? "#{referent.first_name} #{referent.last_name}" : 'A définir' %></h3>
  <p><%= group.description %></p>
  <p class='group-date'>Du <%= group.start_date %> au <%= group.end_date %></p>
</div>
