<ul class="campaign-cards">
  <li class="campaign-card" id=<%= "campaign-#{@campaign.id}" %>>
    <div class="campaign-head">
      <h2><%= @campaign.title %></h2>
      <% if policy(@campaign).edit? %>
        <%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_campaign_path(@campaign) %>
      <% end %>
      <% if policy(@campaign).destroy? %>
        <%= link_to('<i class="fas fa-trash"></i>'.html_safe, campaign_path(@campaign), class:'no-scroll-btn',
          method: :delete,
          data: { confirm: "Etes vous sur de vouloir supprimer la campagne #{@campaign.title} ?" },
          remote: true)
        %>
      <% end %>
    </div>
    <h3><strong>Questionnaire :</strong> <%= @campaign.survey.title %></h3>
    <p class='campaign-date'>Du <%= @campaign.start_date %> au <%= @campaign.end_date %></p>
  </li>
</ul>

<div class="campaign-grid">

  <div class="group-cards">
    <h1>Mes groupes</h1>
    <ul class='group-cards'>
      <% @groups.each do |group| %>
        <% ref = group.users.includes(:user_groups).where(user_groups: {role: 'R'}).first %>
        <li class="group-card" id=<%= "group-#{group.id}" %>>
          <div class="group-info">
            <div class="group-head">
              <h2><%= group.name %></h2>
              <% if policy(group).edit? %>
                <%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_group_path(group) %>
              <% end %>
              <% if policy(group).destroy? %>
                <%= link_to('<i class="fas fa-trash"></i>'.html_safe, group_path(group), class:'no-scroll-btn',
                  method: :delete,
                  data: { confirm: "Etes vous sur de vouloir supprimer le groupe #{group.name} ?" },
                  remote: true, id: "delete-group-#{group.id}")
                %>
              <% end %>
            </div>
            <h3><strong>Référent :</strong> <%= ref ? "#{ref.first_name} #{ref.last_name}" : 'A définir' %></h3>
            <p><%= group.description %></p>
            <p class='group-date'>Du <%= group.start_date %> au <%= group.end_date %></p>
          </div>
          <div>
            <%= simple_form_for @group_campaign do |f| %>
              <%= f.input :campaign_id, as: :hidden, :input_html => { value: @campaign.id } %>
              <%= f.input :group_id, as: :hidden, :input_html => { value: group.id } %>
              <%= check_box_tag @group_campaign.group, group %>
              <%= label_tag(:group_id, "Ajouter à la campagne") %>
              <%= f.submit %>
            <% end %>
            <%= image_tag 'group.svg' %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="group-cards">
    <h1>Groupes affiliés à la campagne <%= @campaign.title %></h1>
    <ul class='group-cards'>
      <% @campaign_groups.each do |group| %>
        <% ref = group.users.includes(:user_groups).where(user_groups: {role: 'R'}).first %>
        <li class="group-card" id=<%= "group-#{group.id}" %>>
          <div class="group-info">
            <div class="group-head">
              <h2><%= group.name %></h2>
              <% if policy(group).edit? %>
                <%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_group_path(group) %>
              <% end %>
              <% if policy(group).destroy? %>
                <%= link_to('<i class="fas fa-trash"></i>'.html_safe, group_path(group), class:'no-scroll-btn',
                  method: :delete,
                  data: { confirm: "Etes vous sur de vouloir supprimer le groupe #{group.name} ?" },
                  remote: true, id: "delete-group-#{group.id}")
                %>
              <% end %>
            </div>
            <h3><strong>Référent :</strong> <%= ref ? "#{ref.first_name} #{ref.last_name}" : 'A définir' %></h3>
            <p><%= group.description %></p>
            <p class='group-date'>Du <%= group.start_date %> au <%= group.end_date %></p>
          </div>
          <%= image_tag 'group.svg' %>
        </li>
      <% end %>
    </ul>
  </div>

</div>
