<h1>Campagnes en cours</h1>

<% @ongoin_campaigns.each do |campaign| %>
  <div class='campaign-admin-dashboard'>
    <h2><%= campaign.title %></h2>
    <div class='groups-section'>
      <% campaign.groups.each do |group| %>
        <div class='group-section'>
          <% group_campaign = GroupCampaign.where(group: group, campaign: campaign).first %>
          <div class='group-section-head'>
            <div>
              <h3><%= group.name %></h3>
              <h4><strong>Referent : </strong><%= group.referent.full_name %></h4>
            </div>
            <%= link_to 'Resultats', result_path(group_campaign), class: 'twi-btn lblue-btn' %>
          </div>
          <% labels = group.members.map { |member| member.full_name || member.email } %>
          <% completions = group.members.map { |member| member.completion_rate(group_campaign) } %>
          <div class='followup-chart'>
            <canvas class="bar-chartjs"
                    data-labels="<%= labels.to_json %>"
                    data-completions="<%= completions.to_json %>"
            >
            </canvas>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
