<!DOCTYPE html>
<html>
  <head>
    <title>TeamWorkInteract</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% unless current_page?('/')%>
      <%= render 'shared/header' %>
    <% end %>
    <%= render 'shared/twi-navbar' %>
    <% unless current_page?('/')%>
      <div class="twi-container">
    <% end %>

    <%= yield %>

    <% unless current_page?('/')%>
      </div>
    <% end %>

    <%= render 'shared/flashes' %>

  </body>
</html>
